/* Estilos globales del cuerpo */
body {
  margin: 0;
  padding: 0;
  background-image: url("imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* 100% de la altura de la ventana */
}

/* Fuentes personalizadas */
@font-face {
  font-family: "ow-font";
  src: url("fuentes/OVERWATCH.ttf");
}

@font-face {
  font-family: "dle-font";
  src: url("fuentes/ethnocentricrg.otf") format("opentype");
}

/* Encabezado del sitio */
.titulo-OWdle {
  text-align: center;
  font-family: dle-font;
  font-size: 3rem;
}

/* Estilo del texto "OW" en naranja */
.text-orange {
  color: #f06414;
  font-family: ow-font;
}

.contenedor-botones-navegacion-inicio {
  max-width: 450px;
  width: 80%;
  height: auto;
  margin: 0 auto; /* Esto centrará el div horizontalmente */
  justify-content: center; /* Esto centra el contenido horizontalmente dentro del div */
  align-items: center; /* Esto centra verticalmente el contenido si es necesario */
}

.botones-navegacion-inicio {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  background-color: #25384b;
  border: 2px solid #f06414;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
  color: #ffffff;
  font-size: 1rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
  padding-left: 15px;
}

.botones-navegacion-inicio span {
  color: #979797;
  font-size: 0.8rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
}

.botones-navegacion-inicio-circular {
  width: 15%;
  height: 50px;
  border-radius: 50px;
  background-size: 60%; /* Ajustar la imagen para que quepa completamente dentro del botón */
  background-position: center; /* Centrar la imagen dentro del botón */
  background-color: #25384b;
  border: 2px solid #f06414;
  border-radius: 40px;
  cursor: pointer;
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

.contenedor-botones-donacion {
  width: 60%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 1px 20px 1px 20px;
  text-align: center;
  border-radius: 8px;
  background: #19191ad3;
  border: 1px solid #ffffff;
  margin-top: 50px;
}

.indicaciones-botones {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 10px;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
}

.contenedor-kofi {
  display: flex;
  justify-content: space-around; /* Distribuir los botones de manera uniforme */
  padding-top: 10px;
}

.boton-kofi {
  width: 200px; /* Ancho relativo del botón */
  height: 35px; /* Altura automática para mantener la proporción */
  background-size: contain; /* Ajustar la imagen para que quepa completamente dentro del botón */
  background-position: center; /* Centrar la imagen dentro del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Establecer el color de fondo transparente */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  margin-bottom: 10px;
}
