/* Estilos globales del cuerpo */
body {
  margin: 0;
  padding: 0;
  background-image: url("..\\imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* 100% de la altura de la ventana */
}

/* Fuentes personalizadas */
@font-face {
  font-family: "ow-font";
  src: url("..\\fuentes/OVERWATCH.ttf");
}

@font-face {
  font-family: "dle-font";
  src: url("..\\fuentes/ethnocentricrg.otf") format("opentype");
}

/* Encabezado del sitio */
.titulo-OWdle {
  text-align: center;
  font-family: dle-font;
  font-size: 3rem;
}

/* Estilo del texto "OW" en naranja */
.text-orange {
  color: #f06414;
  font-family: ow-font;
}


/*Botones navegacion*/
.contenedor-botones-navegacion {
  display: flex;
  margin: 0 auto; /* Centrar horizontalmente */
  width: 60%;
  max-width: 200px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.boton-navegacion {
  position: relative; /* Necesario para el posicionamiento del tooltip */
  width: 100%; /* Ancho relativo del botón, teniendo en cuenta el padding */
  height: 50px; /* Altura automática para mantener la proporción */
  background-size: contain; /* Ajustar la imagen para que quepa completamente dentro del botón */
  background-position: center; /* Centrar la imagen dentro del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Establecer el color de fondo transparente */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  padding: 5px 10px;
}

/* Estilo del tooltip */
.boton-navegacion::before {
  content: attr(data-tooltip); /* Mostrar el contenido del atributo data-tooltip como texto del tooltip */
  position: absolute; /* Posicionar el tooltip */
  bottom: calc(100% + 5px); /* Colocar el tooltip encima del botón */
  left: 50%; /* Alinear el tooltip al centro horizontal del botón */
  transform: translateX(-50%); /* Centrar el tooltip horizontalmente */
  width: max-content; /* Ancho del tooltip */
  background-color: #333; /* Color de fondo del tooltip */
  color: #fff; /* Color del texto del tooltip */
  padding: 5px; /* Espaciado interior del tooltip */
  border-radius: 5px; /* Borde redondeado del tooltip */
  opacity: 0; /* Inicialmente ocultar el tooltip */
  transition: opacity 0.3s; /* Agregar una transición suave para mostrar/ocultar el tooltip */
}

/* Mostrar el tooltip cuando se pasa el cursor sobre el botón */
.boton-navegacion:hover::before {
  opacity: 1; /* Mostrar el tooltip */
}


/* Estilos de la tarjeta de indicaciones */
.tarjeta-indicaciones {
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 1px 20px 1px 20px;
  text-align: center;
  border-radius: 8px;
  background: #25384b;
  border: 1px solid #f06414;
}

/* Estilos responsivos de la tarjeta de indicaciones */
@media screen and (max-width: 768px) {
  .tarjeta-indicaciones {
    width: 60%;
    max-width: none;
  }
}

/* Estilos de las indicaciones superiores */
.indicaciones-superiores {
  margin-bottom: 5px; /* Espaciado inferior */
  color: #ffffff;
  font-size: 1.2rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
}

/* Estilos de las indicaciones inferiores */
.indicaciones-inferiores {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #979797;
  font-size: 1.1rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
}

.texto-pistas {
  display: none;
  font-size: 1.1rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #000000;
}

.turnos-para-pistas {
  display: none;
  font-size: 0.9rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #000000;
}

.contenedor-botones {
  display: none;
  justify-content: space-around; /* Distribuir los botones de manera uniforme */
  padding-bottom: 10px;
}

.contenedor-boton-texto-pistas {
  width: 30%; /* Ancho relativo del contenedor de botón-texto-pista */
  max-width: 200px; /* Ancho máximo del contenedor de botón-texto-pista */
  padding: 3%;
  display: flex; /* Utilizar flexbox */
  flex-direction: column; /* Apilar elementos verticalmente */
  justify-content: center; /* Centrar verticalmente el contenido */
  align-items: center; /* Centrar horizontalmente el contenido */
}

.boton-pista {
  width: 100%; /* Ancho relativo del botón */
  height: 60px; /* Altura automática para mantener la proporción */
  background-size: contain; /* Ajustar la imagen para que quepa completamente dentro del botón */
  background-position: center; /* Centrar la imagen dentro del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Establecer el color de fondo transparente */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  padding-left: 5%;
  padding-right: 5%;
}

.skin-pista {
  width: 50%;
  max-width: 180px;
  height: auto;
  border: 1px solid #ffffff;
  margin-bottom: 5px;
}

.habilidad-pista {
  width: 50%;
  max-width: 180px;
  height: auto;
  margin-bottom: 5px;
}

.texto-boton-pista {
  width: 100%; /* Ancho relativo del botón de texto */
  height: max-content; /* Altura automática para ajustarse al contenido */
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: max(0.8vw, 11px);
  font-weight: bold;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
  text-align: center; /* Centrar el texto horizontalmente */
  padding-left: 5%;
  padding-right: 5%;
}

/*Input*/
.contenedor-input-boton {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
}

.contenedor-input-boton input[type="text"] {
  flex: 1;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 9999em;
}

.contenedor-input-boton button {
  margin-left: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.contenedor-input-boton button:hover {
  animation: tada 1.2s infinite;
}

.opciones {
  position: absolute;
  width: calc(100% - 2px);
  max-width: 400px;
  background-color: #25384b;
  border: 1px solid #ccc;
  color: #ffffff;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  top: calc(100% + 5px); /* Ajusta la posición de la lista debajo del input */
  left: 0; /* Ajusta la posición izquierda de la lista */
  z-index: 1;
}

.opciones.visible {
  display: block;
}

.imagen-opcion {
  width: 50px;
  height: 50px;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.opcion {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.opcion:hover {
  background-color: #4e769e; /* Cambiar el color de fondo al pasar el mouse */
}
/*Final input*/

/*Tabla heroes -----------------------------=>*/
#contenedorTablaScroll {
  overflow-x: auto; /* Añadir barra de desplazamiento horizontal cuando sea necesario */
  overflow-y: hidden; /* Ocultar la barra de desplazamiento vertical */
  white-space: nowrap; /* Evitar que las tablas se rompan */
}

.contenedor-tabla-heroes {
  text-align: center; /* Centrar contenido horizontalmente */
  padding-left: 2px;
  position: relative;
  z-index: 0;
}

.tabla-heroes-seleccionados {
  display: none; /* Ocultar la tabla inicialmente */
  opacity: 0; /* Configurar opacidad inicial */
  transition: opacity 0.5s ease; /* Agregar una transición de opacidad */
  height: 70px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.tabla-heroes-seleccionados.mostrar {
  display: inline-flex;
  opacity: 1;
}

.tabla-heroes-seleccionados div {
  flex: 0 0 auto; /* Evitar que los elementos se ajusten automáticamente */
  width: 68px; /* Ancho de los elementos */
  height: 100%; /* Altura máxima igual a la altura del contenedor */
  margin: 0 3px; /* Margen entre los elementos */
  border: solid 1px #f06414;
  display: flex;
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
  color: #ffffff;
}

.imagen-container {
  overflow: hidden; /* para evitar que la imagen se salga del contenedor */
  display: flex; /* Usamos flexbox para alinear vertical y horizontalmente */
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
}

.imagen-container img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 530px) {
  #contenedor-tabla {
    overflow-x: scroll; /* Añadir barra de desplazamiento horizontal fija */
  }

  .tabla-heroes-seleccionados {
    width: 100%; /* Ancho del contenedor igual al 100% */
  }

  .tabla-heroes-seleccionados-leyenda {
    width: 100%; /* Ancho del contenedor igual al 100% */
  }
}

.contenedor-tabla-heroes-leyenda {
  text-align: center; /* Centrar contenido horizontalmente */
  padding-left: 2px;
  position: relative;
  z-index: 0;
}

.tabla-heroes-seleccionados-leyenda {
  display: inline-flex;
  height: 70px;
  padding-bottom: 5px;
  padding-top: 5px;
  align-items: flex-end; /* Alinea los elementos al final del contenedor */
}

.tabla-heroes-seleccionados-leyenda div {
  flex: 0 0 auto;
  width: 70px; /* Ancho de los elementos */
  height: 100%; /* Altura máxima igual a la altura del contenedor */
  margin: 0 3px; /* Margen entre los elementos */
  border-bottom: solid 1px #ffffff;
  display: flex;
  align-items: flex-end; /* Alinea el texto en la parte inferior */
  justify-content: center;
  color: #ffffff;
}

/*Tarjeta ganadora---------------------------------------------=>*/
.tarjeta-informacion-ganadora {
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background: rgb(25, 91, 53);
  border: 1px solid #69ffa5;
  margin-top: 30px;
}

.gg-ez {
  margin-top: 1px;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 1.7rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
}

.nombre-heroe-a-adivinar {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
}

.numero-de-intentos {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
  margin-bottom: 20px;
}

.imagen-heroe-a-adivinar {
  max-width: 90px;
  height: auto;
  border: 2px solid #ffffff;
  margin-bottom: 15px;
}

.boton-container {
  margin-top: 15px; /* Espacio entre los botones */
  width: 100%; /* Ancho completo del contenedor */
  max-width: 240px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente el contenedor */
}

.boton-container button {
  width: 80%; /* Ancho completo del botón */
  max-width: 100%; /* Máximo ancho del botón */
  box-sizing: border-box; /* Incluir padding y border en el ancho */
  padding: 10px 20px; /* Espaciado interno */
  margin: 0; /* Eliminar margen para evitar desplazamiento */
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  margin-top: 5px;
}

.boton-container button:hover {
  background-color: #f06414; /* Color de fondo al pasar el cursor */
}

/*Boton Kofi-------------------------------------------=>*/
.contenedor-botones-donacion {
  width: 60%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 1px 20px 1px 20px;
  text-align: center;
  border-radius: 8px;
  background: #19191ad3;
  border: 1px solid #ffffff;
  margin-top: 50px;
}

.indicaciones-botones {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 10px;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
}

.contenedor-kofi {
  display: flex;
  justify-content: space-around; /* Distribuir los botones de manera uniforme */
  padding-top: 10px;
}

.boton-kofi {
  width: 200px; /* Ancho relativo del botón */
  height: 35px; /* Altura automática para mantener la proporción */
  background-size: contain; /* Ajustar la imagen para que quepa completamente dentro del botón */
  background-position: center; /* Centrar la imagen dentro del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent; /* Establecer el color de fondo transparente */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  margin-bottom: 10px;
}

audio {
  width: 100%; /* Ajusta el ancho del reproductor al ancho del contenedor */
  max-width: 350px; /* Establece el ancho máximo del reproductor */
}

.texto-modos-de-juego {
  font-size: 1rem;
  color: #000000;
  font-family: Friz Quadrata Std, Mobilo, Helvetica, Arial;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 15px;
}

.linea {
  height: 0px;
  max-width: 100px;
  width: 40%;
  border: 1px solid #ffffff;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 15px;
}